<header>
  <img id='logo-pic' src="https://image.freepik.com/free-vector/palm-trees-on-desert-island_23-2147494090.jpg" alt="desert island logo">
  <h4 id='logo'>MyTravels</h4>
</header>

<div class="container">

  <div ng-controller="main" class="trips-section">
    <!-- Form for trip creation -->
    <div class="row">
      <form ng-submit="createTrip()">
        <div class="offset-by-one three columns">
          <label for="">Place Name</label>
          <input type="text" ng-model="newTrip.place">
        </div>
        <div class="three columns">
          <label for="">Image URL</label>
          <input type="text" ng-model="newTrip.url">
        </div>
        <div class="two columns center">
          <label for="">Been There?</label>
          <input type="radio" ng-model="newTrip.visited" ng-click="radioClicked = 1" value=true>
        </div>
        <div class="two columns center">
          <label for="">Wanna Go!</label>
          <input type="radio" ng-model="newTrip.visited" ng-click="radioClicked = 0" value=false>
        </div>
      </div>
      <!-- Display if past trip -->
      <div class="row" ng-show="radioClicked === 1">
        <div class="offset-by-two four columns date-field">
            <label for="">When Did You Go?</label>
            <input type="text" ng-model="newTrip.date" placeholder="e.g August 2005, Winter 2008">
        </div>
        <div class="four columns">
          <label for="">Memories</label>
          <textarea ng-model="newTrip.memories" rows="8" cols="32" placeholder="e.g Ate a sno cone"></textarea>
        </div>
      </div>
      <!-- Display if planned trip -->
      <div class="row" ng-show="radioClicked === 0">
        <div class="offset-by-two four columns date-field">
            <label for="">When Will You Go?</label>
            <input type="text" ng-model="newTrip.date" placeholder="e.g Summer 2017, Before 2020">
        </div>
        <div class="four columns">
          <label for="">Plans</label>
          <textarea ng-model="newTrip.plans" rows="8" cols="32" placeholder="e.g Eat a sno cone"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="offset-by-four four columns submit-row">
          <button id="trip-form-submit" class="button-primary" type="submit">Add Trip</button>
        </div>
      </div>
      </form>

<!-- PAST TRIPS -->
    <div class="trip-section">
      <h3 class="trip-column-title center">Past Trips</h3>
      <div class="slider-buttons">
        <button ng-click="animateSlider($event)" class="prev-button slider-button button-primary"><</button>
        <button ng-click="animateSlider($event)" class="next-button slider-button button-primary">></button>
      </div>
      <div class="slider">
        <div id="past-trips" class='slides'>
          <div class="trip-box" ng-repeat="trip in pastTrips">
            <img class='trip-pic' ng-src="{{ trip.url }}" alt=""/>
            <div class="trip-info">
              <h4 class='place-name center'>{{trip.place}}</h4>
              <h6 class="trip-heading">When</h6>
              <h6 class="trip-text">{{trip.date}}</h6>
              <h6 class="trip-heading">Memories</h6>
              <h6 class="trip-text">{{trip.memories}}</h6>
              <div class="trip-btn">
                <button id="btn-delete" class="button-primary" ng-click="deleteTrip(trip.id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- PLANNED TRIPS -->
    <div class="trip-section">
      <h3 class="trip-column-title center">Planned Trips</h3>
      <div class="slider-buttons">
        <button ng-click="animateSlider($event)" class="prev-button slider-button button-primary"><</button>
        <button ng-click="animateSlider($event)" class="next-button slider-button button-primary">></button>
      </div>
      <div class="slider">
        <div id="planned-trips" class='slides'>
          <div class="trip-box" ng-repeat="trip in plannedTrips">
            <img class='trip-pic' ng-src="{{ trip.url }}" alt=""/>
            <div class="trip-info">
              <h4 class='place-name center'>{{trip.place}}</h4>
              <h6 class="trip-heading">When</h6>
              <h6 class="trip-text">{{trip.date}}</h6>
              <h6 class="trip-heading">Plans</h6>
              <h6 class="trip-text">{{trip.plans}}</h6>
              <div class="trip-btn">
                <button id="btn-delete" class="button-primary" ng-click="deleteTrip(trip.id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parent">
      <div class="child"></div>
      <div class="child"></div>
      <div class="child"></div>
      <div class="child"></div>
      <div class="child"></div>
    </div>
  </div>
</div>
